@model (string Stats, string Data, string Connections)
@Html.Raw(@Model.Stats)
--------------------------
@Html.Raw(@Model.Data)
--------------------------
@Html.Raw(@Model.Connections)
--------------------------
<a asp-action="Index">Return to Home</a>